{
  "presets": ["es2015", "react"],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    ["@fuzeman/module-resolver", {
      "root": [
        "../neon-extension-browser-base/node_modules",
        "../../Sources/neon-extension-source-netflix/node_modules"
      ],
      "alias": {
        "neon-extension-browser": "./src",
        "neon-extension-framework": "../../neon-extension-framework/src",
        "neon-extension-source-netflix": "../../Sources/neon-extension-source-netflix/src"
      }
    }]
  ]
}
