{
  "presets": ["es2015", "react"],
  "plugins": [
    "add-module-exports",
    "transform-object-rest-spread",
    ["@fuzeman/module-resolver", {
      "root": [
        "../eon.extension.browser.base/node_modules",
        "../../Sources/eon.extension.source.netflix/node_modules"
      ],
      "alias": {
        "eon.extension.browser": "./src",
        "eon.extension.framework": "../../eon.extension.framework/src",
        "eon.extension.source.netflix": "../../Sources/eon.extension.source.netflix/src"
      }
    }]
  ]
}
